@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-from-left {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .underline-from-left::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    background-color: #ffef8d; /* Adjust the color as needed */
    color: black;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
    z-index: -1; /* Put the underline behind the text */
  }

  .underline-from-left:hover::after {
    transform: scaleX(1);
    color: black;
  }
}
